
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
        <mat-list>
            <h3 mat-subheader>Menu</h3>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a routerLink="/user" routerLinkActive="active">User</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a routerLink="/user" routerLinkActive="active">Project</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a routerLink="/task" routerLinkActive="active">Task</a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
