<mat-toolbar style="background-color: rgb(63, 189, 168);">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span style="font-size:15px">Welcome User</span>
    <span class="example-spacer"></span>
    <span>Project Management App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon">
        Logout
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    </button>
</mat-toolbar>
<mat-divider></mat-divider>